name: Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          # 1. Go to the ACTUAL folder
          cd /home/ubuntu/Music
          
          # 2. Pull changes
          git pull origin main
          git reset --hard origin/main
          
          # 3. Update Dependencies
          source venv/bin/activate
          pip install -r requirements.txt
          
          # 4. Restart the ACTUAL service
          sudo systemctl restart musicbot